*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50px;
    margin-right: 0;
}
.nav-left .logo{
    width: 130px;
}
.nav-left .menu{
    width: 22px;
    margin-right: 25px;
}
.nav-middle .search{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 9px;
}
.nav-middle .search input{
    width: 400px;
    outline: 0;
    border: 0;
    background: transparent;
}
.nav-middle .img{
    width: 15px;
}

.sidebar{
    background: #fff;
    width: 15%;
    height: 100hv;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}
.side-links a img{
    width: 20px;
    margin-right: 20px;
}
.side-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.side-links a:first-child{
    color: #ed3833;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width:85%;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar a p{
    display:none
}
.small-sidebar h3{
    display:none
}
.small-sidebar hr{
    width: 50%;
    margin-bottom:25px;
}

.container{
    background: #fff;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.large-container{
    padding-left: 7%;
}
.banner{
    width: 100%;
}
.banner img{
    padding-top: 5px;
    width: 100%;
    border-radius: 8px;
}
@media (max-width: 600px) {
    .banner {
      display: none;
    }
  }
@media (max-width:900px){
    .menu{
        display: none;
    }
    .container, .large-container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .sidebar{
        display: none;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .nav-middle .search input{
        width: 100px;
    }
    .logo{
        width: 90px;
    }
}